build/**
*.o
*.a
**/.deps/**
config.status
config.log
obj-x86_64-linux-gnu/**
autom4te.cache/**
debian/**
m4/**
Makefile
*.gmo
stamp-*
Makevars.template
config.h
*~
src/psensor-fork
src/psensor-fork.1
src/psensor-fork.gschema.valid
src/server/psensor-fork-server
src/server/psensor-fork-server.1
po/psensor-fork.pot
po/POTFILES
