[Desktop Entry]
Type=Application
Version=1.0
Name=Psensor-fork
GenericName=Temperature Monitor
Comment=Psensor-fork is a graphical temperature monitor for Linux
Keywords=temperature;fan;monitoring;indicator;sensors;hardware;
Icon=psensor-fork
TryExec=psensor-fork
Exec=psensor-fork
Categories=System;Monitor;Settings;
StartupNotify=true
Categories=System;Monitor;
X-GNOME-Autostart-Delay=30
StartupNotify=true

