#!/usr/bin/make -f

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr

override_dh_auto_test:
	# Skip tests during package build
	@echo "Skipping tests..."

override_dh_installdocs:
	dh_installdocs
	# Install additional documentation
	install -d $(CURDIR)/debian/psensor-fork/usr/share/doc/psensor-fork
	install -m 644 README.md $(CURDIR)/debian/psensor-fork/usr/share/doc/psensor-fork/